* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(48, 239, 175);
    margin-top: 10px;
}

header {
    text-align: center;
}

h1 {
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 3px rgb(11, 195, 133);
}

h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 8px;
    text-shadow: 2px 2px 2px gray;
}

section {
    background-color: aliceblue;
    width: 500px;
    margin: 30px auto;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(5, 172, 116);
}


button {
    padding: 4px 10px 4px 10px;
    margin-top: 20px;
    background-color: rgb(48, 255, 186);
    box-shadow: 2px 2px 3px rgb(5, 172, 116);
    border: solid 2px gray;
}

button:hover {
    background-color: rgb(28, 215, 153);
}

p {
   margin-bottom: 5px;
   margin-top: 20px;
   font-family: Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 3px rgb(11, 195, 133);
}

img {
    width: 300px;
    margin-top: 8px;
}